page{
  height: 100%;
  background: #EEEEEE;
}
.topBack{
  width:100%;
  height:240px;
  background:#0097FF;
  position:relative;
  .topBackHead{
    position:absolute;
    border-radius:70px;
    width:140px;
    height:140px;
    top:50%;
    left:7%;
    margin-top:-70px;
  }
  .topBackText{
    position:absolute;
    top:80px;
    left:240px;
    color:white;
    font-size:36px;
  }
  .topBackPos{
    position:absolute;
    top:125px;
    left:240px;
    color:white;
    font-size:28px;
  }
  .loginOrReg{
    position:absolute;
    left:50px;
    top:60px;
    font-size:42px;
    color:white;
  }
  .loginIntro{
    font-size:28px;
    position:absolute;
    top:130px;
    left:50px;
    color:white;
  }
  .topBackIcon{
    color:white;
    position: absolute;
    right:10px;
    top:80px;
  }
}
.divideLine{
  width:100%;
  height:30px;
  background: #EDEDED;
}
.listItem{
  background: white;
  width:100%;
  border-bottom: 2px solid #DDD;
  height:110px;
  margin:0 auto;
  position:relative;
}
.listIconLeft{
  line-height: 110px;
  margin-left: 25px;
}
.listText{
  margin-left:20px;
  font-size:35px;
  line-height:110px;
}
.listIconRight{
  position:absolute;
  line-height:110px;
  right:10px;
}
.lightScene{
  width:85%;
  height:168px;
  margin:20px auto;
  border-radius: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font-size:32px;
  text-overflow: ellipsis;
  box-shadow: 3px 2px 8px 4px #EEE ;
  .lightTitle{
    padding-top:10px;
    font-size:35px;
    margin-left: 20px;
  }
  .lightNumber{
    margin-top:5px;
    margin-left: 20px;
    .lightSceneNumber{
      font-size: 40px;
    }
    .lightNumberText{
      font-size:32px;
      padding-left: 10px;
    }
  }
  .lightPercent{
    display: inline-block;
    background:#E7EEFE;
    padding:0 15px;
    border-radius: 4px;
    margin-left:20px;
    margin-top:5px;
    font-size:28px;
    color:#5A74D0;
  }
}
.outLogin{
  color:#F12424;
  background: white;
  font-size:35px;
  border:0px;
  width:100%;
  margin:40px auto 0px;
}
.policy{
  width:100%;
  text-align: center;
  color:#3C9FF0;
  font-size:30px;
  margin-top:40px;
}
.edition{
  width:100%;
  text-align: center;
  margin-top:40px;
  font-size:28px;
  color:#A7A7A7;
}
