.policy{
  width:90%;
  margin:15px auto;
}
.title{
  font-size:34px;
  margin-bottom:20px;
}
.smallTitle{
  font-size:28px;
  color:#545454;
  margin-bottom:20px;
}
.content{
  color:#545454;
  font-size:26px;
  line-height: 50px;
}
.ulTitle{
  font-size:28px;
  line-height:50px;
  margin-bottom:10px;
}
